In [1]:
import pandas as pd

In [2]:
inventory = pd.read_csv('inventory.csv')

In [3]:
inventory.head(10)

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

In [5]:
product_request = inventory[inventory['location'] == 'Staten Island']

In [6]:
product_request

        location  product_type         product_description  quantity  price
0  Staten Island         seeds                       daisy         4   6.99
1  Staten Island         seeds                  calla lily        46  19.99
2  Staten Island         seeds                      tomato        85  13.99
3  Staten Island  garden tools                        rake         4  13.99
4  Staten Island  garden tools                 wheelbarrow         0  89.99
5  Staten Island  garden tools                       spade        93  19.99
6  Staten Island  pest_control               insect killer        74  12.99
7  Staten Island  pest_control                 weed killer         8  23.99
8  Staten Island       planter  20 inch terracotta planter         0  17.99
9  Staten Island       planter      8 inch plastic planter        53   3.99

In [7]:
inventory.dtypes

location                object
product_type            object
product_description     object
quantity                 int64
price                  float64
dtype: object

In [24]:
seed_request = inventory[(inventory['location'] == 'Brooklyn') & (inventory['product_type'] == 'seeds')]

In [ ]:
seed_request

In [14]:
inventory['in_stock'] = inventory['quantity'] > 0

In [13]:
inventory

,location,product_type,product_description,quantity,price,total_value
0,Staten Island,seeds,daisy,4,6.99,27.96
1,Staten Island,seeds,calla lily,46,19.99,919.54
2,Staten Island,seeds,tomato,85,13.99,1189.15
3,Staten Island,garden tools,rake,4,13.99,55.96
4,Staten Island,garden tools,wheelbarrow,0,89.99,0.00
5,Staten Island,garden tools,spade,93,19.99,1859.07
6,Staten Island,pest_control,insect killer,74,12.99,961.26
7,Staten Island,pest_control,weed killer,8,23.99,191.92
8,Staten Island,planter,20 inch terracotta planter,0,17.99,0.00
9,Staten Island,planter,8 inch plastic planter,53,3.99,211.47
10,Brooklyn,seeds,daisy,50,6.99,349.50
11,Brooklyn,seeds,calla lily,0,19.99,0.00
12,Brooklyn,seeds,tomato,0,13.99,0.00
13,Brooklyn,garden tools,rake,15,13.99,209.85
14,Brooklyn,garden tools,wheelbarrow,82,89.99,7379.18
15,Brooklyn,garden tools,spade,36,19.99,719.64
16,Brooklyn,pest_control,insect killer,80,12.99,1039.20
17,Brooklyn,pest_control,weed killer,76,23.99,1823.24
18,Brooklyn,planter,20 inch terracotta planter,5,17.99,89.95
19,Brooklyn,planter,8 inch plastic planter,26,3.99,103.74
20,Queens,seeds,daisy,57,6.99,398.43
21,Queens,seeds,calla lily,95,19.99,1899.05
22,Queens,seeds,tomato,45,13.99,629.55
23,Queens,garden tools,rake,21,13.99,293.79
24,Queens,garden tools,wheelbarrow,98,89.99,8819.02
25,Queens,garden tools,spade,26,19.99,519.74
26,Queens,pest_control,insect killer,0,12.99,0.00
27,Queens,pest_control,weed killer,16,23.99,383.84
28,Queens,planter,20 inch terracotta planter,87,17.99,1565.13

In [12]:
inventory['total_value'] = inventory['price'] * inventory['quantity']

In [15]:
inventory

,location,product_type,product_description,quantity,price,total_value,in_stock
0,Staten Island,seeds,daisy,4,6.99,27.96,True
1,Staten Island,seeds,calla lily,46,19.99,919.54,True
2,Staten Island,seeds,tomato,85,13.99,1189.15,True
3,Staten Island,garden tools,rake,4,13.99,55.96,True
4,Staten Island,garden tools,wheelbarrow,0,89.99,0.00,False
5,Staten Island,garden tools,spade,93,19.99,1859.07,True
6,Staten Island,pest_control,insect killer,74,12.99,961.26,True
7,Staten Island,pest_control,weed killer,8,23.99,191.92,True
8,Staten Island,planter,20 inch terracotta planter,0,17.99,0.00,False
9,Staten Island,planter,8 inch plastic planter,53,3.99,211.47,True
10,Brooklyn,seeds,daisy,50,6.99,349.50,True
11,Brooklyn,seeds,calla lily,0,19.99,0.00,False
12,Brooklyn,seeds,tomato,0,13.99,0.00,False
13,Brooklyn,garden tools,rake,15,13.99,209.85,True
14,Brooklyn,garden tools,wheelbarrow,82,89.99,7379.18,True
15,Brooklyn,garden tools,spade,36,19.99,719.64,True
16,Brooklyn,pest_control,insect killer,80,12.99,1039.20,True
17,Brooklyn,pest_control,weed killer,76,23.99,1823.24,True
18,Brooklyn,planter,20 inch terracotta planter,5,17.99,89.95,True
19,Brooklyn,planter,8 inch plastic planter,26,3.99,103.74,True
20,Queens,seeds,daisy,57,6.99,398.43,True
21,Queens,seeds,calla lily,95,19.99,1899.05,True
22,Queens,seeds,tomato,45,13.99,629.55,True
23,Queens,garden tools,rake,21,13.99,293.79,True
24,Queens,garden tools,wheelbarrow,98,89.99,8819.02,True
25,Queens,garden tools,spade,26,19.99,519.74,True
26,Queens,pest_control,insect killer,0,12.99,0.00,False
27,Queens,pest_control,weed killer,16,23.99,383.84,True
28,Queens,planter,20 inch terracotta planter,87,17.99,1565.13,True

In [19]:
combine_lambda = lambda row: '{} - {}'.format(row.product_type, row.product_description)

In [20]:
combine_lambda

In [21]:
inventory['full_description'] = inventory.apply(combine_lambda,axis=1)

In [22]:
inventory['full_description']

0                            seeds - daisy
1                       seeds - calla lily
2                           seeds - tomato
3                      garden tools - rake
4               garden tools - wheelbarrow
5                     garden tools - spade
6             pest_control - insect killer
7               pest_control - weed killer
8     planter - 20 inch terracotta planter
9         planter - 8 inch plastic planter
10                           seeds - daisy
11                      seeds - calla lily
12                          seeds - tomato
13                     garden tools - rake
14              garden tools - wheelbarrow
15                    garden tools - spade
16            pest_control - insect killer
17              pest_control - weed killer
18    planter - 20 inch terracotta planter
19        planter - 8 inch plastic planter
20                           seeds - daisy
21                      seeds - calla lily
22                          seeds - tomato
23                     garden tools - rake
24              garden tools - wheelbarrow
25                    garden tools - spade
26            pest_control - insect killer
27              pest_control - weed killer
28    planter - 20 inch terracotta planter
Name: full_description, dtype: object